.Rproj.user
.Rhistory
.RData
.Ruserdata
.desktop.ini
*.ini
.venv/
_site/
_freeze/
.quarto/
*_files/
.ipynb_checkpoints/
__pycache__/
.pytest_cache/
*.html
*.pptx

/.quarto/

# placeholder check-in folders written by the labs when GITHUB_USERNAME is left at its default
assignments/checks/submissions/your-github-username/
assignments/checks/submissions/your_github_username/
